[submodule "enroll_prereqs/airdrop"]
	path = enroll_prereqs/airdrop
	url = https://github.com/Naty-S/airdrop.git
[submodule "enroll_prereqs/rust_mint"]
	path = enroll_prereqs/rust_mint
	url = https://github.com/Naty-S/rust_mint.git
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/Naty-S/solana-starter.git
[submodule "sol-vault"]
	path = sol-vault
	url = https://github.com/Naty-S/sol-vault.git
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/Naty-S/anchor-escrow.git
[submodule "anchor-amm"]
	path = anchor-amm
	url = https://github.com/Naty-S/anchor-amm.git
